/** footer **/

.footer {
    padding-top: 90px;
    background: url(../images/footer_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 90px;
}

.logo2 {
    float: left;
}

.footer h3 {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 19px;
    margin-top: 20px;
}

ul.location_icon {
    padding-top: 12px;
}

ul.location_icon li {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    text-align: left;
    padding-bottom: 26px;
    float: left;
    padding-right: 13px;
}

ul.location_icon li a i {
    display: block;
}

ul.location_icon li a {
    font-size: 25px;
    color: #fff;
    line-height: 35px;
}

ul.location_icon li a:hover {
    color: #eed818;
}

ul.social_icon {
    float: left;
}

ul.social_icon li {
    float: left;
    height: 60px;
    padding-right: 13px;
}

ul.social_icon li:last-child {
    padding-right: 0px;
}

ul.social_icon li a {
    color: #0b2554;
    width: 40px;
    height: 40px;
    background: #fff;
    float: left;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    font-size: 22px;
}

ul.social_icon li a:hover {
    background: #eed818;
    color: #fff;
}

ul.link_icon li {
    display: flex;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

ul.link_icon li.active a {
    color: #acaba9;
}

ul.link_icon li a {
    color: #fff;
    float: left;
    text-align: left;
    line-height: 20px;
    font-size: 17px;
}

ul.link_icon li a:hover {
    color: #acaba9;
}

ul.img_icon {
    float: left;
}

ul.img_icon li {
    display: block;
    padding-bottom: 10px;
    float: left;
    padding-right: 10px;
}

.main_form .news {
    padding: 0px 15px;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    background: #fbf5f5;
    color: #a09f9b;
    font-size: 16px;
    font-weight: normal;
    border: #fbf5f5 solid 1px;
    border-radius: 10px;
}

.main_form .send_btn {
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: #efd818;
    text-transform: uppercase;
    color: #fff;
    padding: 9px 0px;
    max-width: 160px;
    width: 100%;
    display: block;
    border-radius: 10px;
    font-weight: 600;
}

.main_form .send_btn:hover {
    background-color: #000;
    transition: ease-in all 0.5s;
    color: #fff;
}

#request *::placeholder {
    color: #a09f9b;
    opacity: 1;
}

.copyright {
    background-color: #fff;
    margin-top: 70px;
    padding: 20px 0px;
}

.copyright p {
    color: #082557;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.copyright a {
    color: #082557;
}

.copyright a:hover {
    color: #fff;
}


/** end footer **/
